@import './mixin.scss';

$h-unit: 1;

@while $h-unit<=6 {
    h#{$h-unit}{
        @include font-gugi;
    }
    $h-unit: $h-unit + 1;
}

[disabled]{
    box-shadow: inset 0 0 9999px rgba(255,255,255,0.5);
    border-color: rgba(255,255,255,0.5);
}